# Exclude all files by default
*

# Include distribution bundle but exclude test files if they are built into dist
!dist/**
!bin/**
*.test.*
testfixtures

# Include any additional source files which should be bundled


# Include documentation and version information in bundle
!CONTRIBUTING.md
